
/* Quienes somos */
#quienessomos{
    background-color: black;
}

#cardcol{
    background-color: black;
}

#fasimg {
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
    width: 50px;
  }

  p .card-text{
    font-family: 'Open Sans', sans-serif;
  }

/* Destacados */
.destacados{
    background-color: black;
}

/* Contacto */
#contacto{
    background-color: black;
}

.card-head{
    font-weight: 500;
}
/* Footer */
footer{
    background-color: #17a2b8;
}

#footericonos{
    color: white;
    text-decoration: none;
}
